@import "styles/index";

.root {
  border: 2px solid #000;
  border-radius: 30px;
  padding: 17px 35px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s, border 0.2s, color 0.2s, box-shadow 0.2s;

  &.disabled {
    color: $grey1;
    background: $grey5;
    border-color: transparent;
  }

  &.fluid {
    width: 100%;
  }
}

// style type
.outlinedPurple {
  background: transparent;
  border-color: $purple;
  color: $purple;

  &.hover {
    background: $purple;
    color: $white;
    border-color: transparent;

    &.press {
      background: $purple;
      @include boxShadowButtonInner;
    }
  }
}

.icon{
  border: 0;
}

.transparent {
  background-color: transparent;
}


.outlinedWhite {
  background: transparent;
  border-color: #fff;
  color: #fff;

  &.hover {
    background: $white;
    color: $black;
    border-color: transparent;

    &.press {
      border-color: transparent !important;
      @include boxShadowButtonInner;
    }
  }
}

.filledGrey {
  color: $dark2;
  background: $grey5;
  border: none;
}

.filledGreen {
  color: $black;
  background: $green;
  border: none;
  &.hover {
    background: $black;
    color: $green;
    border-color: transparent;
    &.press {
      border-color: transparent !important;
      @include boxShadowButtonInner;
    }
  }
}

.filledWhite {
  color: $black;
  background: $white;
  border: none;

  &.press {
    @include boxShadowButtonInner;
  }
}


.textDark {
  color: $black;
  padding: 4px 8px;
  background: transparent;
  border-color: transparent;
  text-transform: none;
  text-decoration: none;
  text-underline-offset: 2px;

}

.withIcon {
  .text {
    display: flex;
    align-items: center;
    > * + *{
      margin-left: 8px;
    }
  }
}

@mixin smallButton {
  border: none;
  height: 28px;
  display: flex;
  align-items: center;
  text-decoration: none;
  > * + * { margin-left: 4px}
  padding: 0px 10px;
  border-radius: 8px;
  text-transform: none;

}

// end style type

// font style
.normal12 {
  font-size: 12px;

  @media (max-width: $xs-max) {
    font-size: 12px;
  }
}

.normalBold {
  font-size: 14px;
  font-weight: bold;

  @media (max-width: $xs-max) {
    font-size: 12px;
  }
}

.semibold14 {
  font-size: 14px;
  font-weight: 600;
}

.semibold16 {
  font-size: 16px;
  font-weight: 600;

  @media (max-width: $xs-max) {
    font-size: 14px;
  }
}

.semibold18 {
  font-size: 18px;
  font-weight: 600;

  @media (max-width: $xs-max) {
    font-size: 16px;
  }
}

// end font style

.text {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.textHidden {
  visibility: hidden;
}

.spinner {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerVisible {
  visibility: visible;
}

.arrow {
  margin-left: 15px;
}
