@import "styles/index";

.root {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 1;

  @include mq($TabletWidth, max) {
    padding: 48px 24px 90px 24px;
    background: $purple3;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: relative;
    margin-top: -20px;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px -12px 0px -12px;

}

.category {
  font-size: 20px;
  font-weight: 600;
  color: $dark1;
}

.products {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 0px -24px;
  @include mq($DesktopWidth, max) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include mq($SmDesktopWidth, max) {
    grid-template-columns: 1fr 1fr;
  }

  @include mq($LPhoneWidth, max) {
    grid-template-columns: 1fr;
  }
}
.productCard{

  position: relative;
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
  padding: 12px;
  display: flex;
  > div{
    flex: 1;
  }

}
.filter {
  @include mq($TabletWidth, min) {
    display: none !important;
  }
}
