@import "styles/index";

.root {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-flex: 1;

  @include mq($TabletWidth, max) {
    padding: 48px 24px 90px 24px;
    background: $purple3;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: relative;
    margin-top: -20px;
  }
}





