@import "styles/index";

.root {
  padding: 19px;
  padding-top: 15px;
  background: #FFFFFF;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  max-height: 75px;

  @include mq($TabletWidth, max) {
    overflow-x: auto;
    background-color: transparent;
    gap: 16px;
    @include scroll_hide;
    border-radius: 0;
    padding: 0;
    margin-right: -24px;
  }
}
.left{
  flex: 1;
  // overflow: hidden;
}

.right {
  display: flex;
  @include list(16px , true);
  @include mq($TabletWidth, max) {
    display: none;
  }
}

.filterSvg {
  margin-right: 5px;
  transition: .2s linear;
}

.item {
  padding: 10px 19px;
  background: $grey6;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $dark2;
  letter-spacing: -0.24px;
  cursor: pointer;
  position: relative;
  display: flex;

  @include mq($TabletWidth, max) {
    padding: 6px 19px;
    border-radius: 23px;
  }

  img {
    position: relative !important;
    height: auto !important;
    width: auto !important;
    margin-right: 5px;
  }

  span {
    color: #828282;
    transition: .2s linear;
  }

  @media (hover: hover) {
    &:hover {

      span {
        color: black;
      }
      
      .filterSvg {
        path{
          fill: black;
        }
      }
    }
  }
}
