@import 'styles/index';


.complaintLayout {
 display: flex;
 flex-direction: column;
 align-items: stretch;

 @include mq($TabletWidth, max) {
   height: calc(100vh - 80px);
   height: calc(100dvh - 80px);
  }

}

.headerRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::after {
    content: '';
    display: block;
    width: 18px;
  }
}

.headerTitle {
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.title {
  color: $white;
  font-weight: 600;
  font-size: 14px;
  margin-top: 24px;
}

.order {
  padding: 16px;
  background-color: $white;
  border-radius: 16px;
  margin-top: 8px;

  .orderTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .unitName {
    font-weight: 600;
    font-size: 14px;
  }

  .status {
    // background-color: $grey1;
    padding: 6px 10px 6px;
    color: white;
    border-radius: 16px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 6px;

    p, svg {
      position: relative;
      z-index: 2;
    }

    svg {
      width: 12px;
      height: 12px;
    }

    

    .statusBackground {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .3;
    }
  }

  .orderBottom {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 8px;
    color: $grey2;
    font-size: 14px;
  }

  .payments {
    font-size: 12px;
    display: flex;
    align-items: center;

    &_price {
      font-size: 16px;
      font-weight: 500;
      color: black;
      padding-top: 3px;
      margin-left: 6px;
    }
  }


}

.photos {
  background-color: $white;
  padding: 16px;
  margin-top: 8px;
  border-radius: 16px;

  .photosTitle {
    font-weight: 600;
    font-size: 14px;
  }

  .inputsWrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1%;
    row-gap: 10px;
    margin-top: 16px;
    
  }

  .imageRoot {
    position: relative;
    width: 70px;
    height: 70px;
    max-width: 170px;
    @include mq($TabletWidth, max) {
      width: 19vw;
      height: Clamp(70px, 19vw,170px);
    }
  }

  .imageWrapper {
    overflow: hidden;
    border-radius: 16px;
    width: 100%;
    height: 100%;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &_load {
        filter: blur(4px);
      }
    }


  }

  .removeButton {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $purple3;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s linear;
    @media (hover : hover ){
      &:hover {
        background-color: $purple;
        svg{
          path{
            fill: $white;
          }
        }
      }
    }
  }

  .removeSvg {
    width: 10px;
    height: 10px;
    @include mq($TabletWidth, max) {
      width: Clamp(8px, 3vw, 16px);
      height: Clamp(8px, 3vw, 16px);
    }
    display: block;
  }

  .input {
    display: none;
  }

  .inputLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 170px;
    background-color: $purple3;
    border-radius: 16px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    @include mq($TabletWidth, max) {
      width: 19vw;
      height: Clamp(70px, 19vw,170px);
    }

    svg {
      height: Clamp(24px, 30%, 40px);
      width: Clamp(24px, 30%, 40px);
    }
  }
}

.message {
  background-color: $white;
  padding: 16px;
  border-radius: 16px;
  margin-top: 8px;
  margin-bottom: 8px;

  .messageTitle {
    font-weight: 600;
    font-size: 14px;
  }

  .textarea {
    min-height: 100px;
    margin-top: 16px;
    max-height: 300px;
  }
}

.submitButton {
  margin-top: auto;
  width: 100%;
  // max-width: 400px;
  padding: 16px;
  align-self: center;
  background-color: $green;
  border-radius: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

