@import 'styles/index';


.headerRoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::after {
    content: '';
    display: block;
    width: 18px;
  }
}

.headerTitle {
  color: white;
  font-weight: 500;
  font-size: 14px;
}