@import 'styles/index';

.section {
  margin-top: clamp(42px, 13vh, 126px);
  background: #63169b;
  position: relative;
  overflow: hidden;

  .texture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .backImage {
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    min-width: 1920px;
  }

  .wrapper {
    display: flex;
    max-width: 1306px;
    margin-inline: auto;
    padding-block: clamp(105px, 19vw,150px) clamp(105px, 19vw, 164px);
    column-gap: 16px;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding-inline: 16px;

    
  }

  .button {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: $black;
    background-color: $green;
    border-radius: 16px;
    padding: 20px 73px;
    margin-top: clamp(18px, 4vw, 42px);
    cursor: pointer;
    transition: .2s linear;
    @include hover {
      background-color: $pink;
      color: $white;
    }
    

    &_pink {
      background-color: $pink;
      color: $white;
      @include hover {
        background-color: $green;
        color: $black;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;    
  }

  .title {
    font-weight: 700;
    font-size: clamp(24px, 3.4vw, 48px);
    text-align: center;
    color: $white;
    width: 100%;
    @include mq($TabletWidth, max) {
      font-size: 30px;
    }
  }

  .subTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: $white;
    max-width: 642px;
    margin-top: 26px;
  }

}