@import "styles/index";
.root{
  display: flex;
  flex-direction: row;
  > * + *{
    margin-left: 4px;
  }
}




.item {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  > * + * {
    margin-left: 4px;
  }

  overflow: hidden;

  .txt {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }


}
