import styles from './index.module.scss'
import { IField } from 'types/types'
import { useField } from 'formik'
import FieldError from 'components/ui/FieldError'

interface Props extends IField<string> {}

export default function {{ properCase name }}Field(props: Props) {
  const [field, meta, helpers] = useField(props)
  const showError = meta.touched && !!meta.error

  return (
    <div className={styles.root}>
      {{ properCase name }}
      <FieldError showError={showError}>{meta.error}</FieldError>
    </div>
  )
}
