import styles from './index.module.scss'

interface Props {}

export default function {{ properCase name }}(props: Props) {
  return (
    <div className={styles.root}>
      {{ properCase name }}
    </div>
  )
}
