interface Props {}

export default function {{ properCase name }}(props: Props) {
  return (
    <div className="{{ camelCase name }}">
      {{ properCase name }}
      <style jsx>{`
        .{{ camelCase name }}{}
      `}</style>
    </div>
  )
}

