import styles from './index.module.scss'
import { GetServerSideProps } from 'next'
import PageLayout from 'components/layout/PageLayout'

interface Props {}

export default function {{ properCase name }}Page(props: Props) {
  return (
    <PageLayout>
      <div className={styles.root}>
        {{ properCase name }}Page
      </div>
    </PageLayout>
  )
}

export const getServerSideProps: GetServerSideProps = async (context ) => {
  return {
    props: {} as Props,
  }
}

