@import "styles/index";

.root {
  width: max-content;
  margin-right: 30px;
  flex-grow: 1;
  position: relative;
  width: 100%;

  @include mq($SmDesktopWidth, max) {
    display: none;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inputWrapper {
  max-width: 120px;
  width: 100%;
  min-width: max-content;
  height: 40px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  transition: 0.3s width ease-in-out;
  overflow: hidden;
  border-radius: 3px;
  padding: 5px 10px;
  padding-right: 0px;
  border: 1px solid transparent;

  .input,
  .clear,
  .close {
    display: none;
  }
}

.active {
  border: 1px solid $basic-gray-5;

  .input,
  .clear {
    display: block;
  }

  .close {
    display: flex;
  }

  p {
    display: none;
  }

  @include mq($SmDesktopWidth, max) {
    display: none;
  }

  @include mq($MdDesktopWidth, max) {
    width: 270px;
    min-width: auto;
    max-width: 100%;
  }
}

.input {
  width: 100%;
  height: 40px;
  overflow: hidden;
  font-size: 16px;
  padding-right: 5px;
}

.clear {
  font-size: 14px;
  margin-right: 12px;
  color: $basic-gray-2;
  cursor: pointer;
}

.close {
  min-width: 40px;
  min-height: 100%;
  cursor: pointer;
  border-left: 1px solid $basic-gray-5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 5px;
  margin-right: 8px;
}