@import "styles/index";

.root{
  color: $red;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -15px;
  left: 0;
  z-index: 1;
  font-size: 11px;
}

.text{
  flex: 1;
  overflow: hidden;
  line-height: 1;
}
