@import "styles/index";

.root {}

.title {
  color: #E0E0E0;
  letter-spacing: -0.24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  @include mq($TabletWidth, max) {
    margin-top: 78px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  @include mq($PhoneWidth, max) {
    max-height: 510px;
  }
}