@import "styles/index";

.modalLayout {
  position: relative;
  width: 444px;
  max-height: 90vh;
  background: $purple3;
  min-height: 400px;
  padding: 32px;
}

.modalBody {
  position: relative;
  flex: 1;
  width: 100%;
  overflow: auto;
  margin-bottom: 20px;
}

.bodyWrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  width: 100%;

  @include mq($PhoneWidth, max) {
    max-height: 400px;
    overflow: auto;
    margin: 22px 0px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  >*+* {
    margin-top: 16px;
  }
}

.bottomSheetBody {
  max-height: 400px;
}

.btn {
  border-radius: 16px;
}

.title {
  font-weight: 600;
  font-size: 23.8824px;
  line-height: 29px;
  color: #4C4958;
}
