@import "styles/index";


.body {
    padding: 4px 32px;
}

.modalLayout {
    border-radius: 16px;
    max-width: 444px;
    background-color: $purple3;
}

.title {
    display: flex;
    justify-content: space-between;
}

.name {
    color: $dark1;   
    font-size: 24px;
    font-weight: 600;
}


.close {
    margin-left: auto;
    padding: 6px 10px;
    transition: .6s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: rotate(0deg);
    &:hover {
        transform: rotate(90deg);
    }
}

.points {
    display: flex;
    align-items: center;

    &__star {
        width: 30px;
        transform: translateY(-4px);
        height: 25px;
        margin-right: 5px;
    }

    &__count {
        color: $dark1;
        font-size: 16px;
        font-weight: 600;
    }

}

.feedbacks {
    margin-top: 20px;
    height: 400px;
}


