@import "styles/index";


.body {
    padding: 4px 32px;
}

.modalLayout {
    border-radius: 16px;
    max-width: 444px;
    background-color: $purple3;
    @include mq($PhoneWidth, max) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0;
        max-width: unset;
        // background-color: $purple2;
        background-image: url('../../../public/images/mobileBg/mobileBg.png');
        background-size: contain;
        background-position: center;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding:  0 32px;
    //если у нас устройство с тач скрином
    @media (hover: none) {
        flex-direction: column;
        align-items: center;
        margin-top: 33px;
        margin-inline: 23px;
    }
}

.name {
    color: $dark1;   
    font-size: 24px;
    font-weight: 600;
    @include mq($PhoneWidth, max) {
        font-size: 16px;
    } 
}

.subName{
    @extend .name;
    @include mq($PhoneWidth, max) {
        font-weight: 500;
    }
}


.close {   
    margin: 9px 14px 8px auto;
    transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: rotate(0deg);
    cursor: pointer;
    &:hover {   
        @media (hover: hover) {
            transform: rotate(90deg);
        }
    }

    @media(hover: none) {       
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        border-radius: 50%;
        transition: unset;
        box-shadow: 0px 8px 10px 2px $grey4;  
        margin: 0;
    }
}

.closeSvg {
    width: 16px;
    height: 16px;
    display: block;
    @include mq($PhoneWidth, max) {
        width: 24px;
        height: 24px;
    }
}

.points {
    display: flex;
    align-items: center;
}

.pointsStar {
    width: 30px;
    transform: translateY(-4px);
    height: 25px;
    margin-right: 5px;
}

.pointsCount {
    color: $dark1;
    font-size: 16px;
    font-weight: 600;
}

.feedbacks {
    margin-top: 18px;
    height: 400px;
    @include mq($PhoneWidth, max) {
        height: calc(100vh - 98px);
        border-radius: 16px;
        overflow: hidden;
    }
}



