@import "styles/index";

.root {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-width: inherit;
    min-height: inherit;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s box-shadow ease-in-out;
    overflow: hidden;
    flex-direction: column-reverse;
    position: relative;

    min-height: 320px;

    width: calc(50% - 8px);

    margin-top: 16px;

    @include mq($SmDesktopWidth, max) {
        min-height: 300px;
    }

    @include mq($TabletWidth, max) {
        min-width: 100%;
    }

    @include mq($PhoneWidth, max) {
        min-height: 200px;
    }
}

.body {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px 24px;
    z-index: 1;
    margin-bottom: -1px;
    background-color: #fff;
    flex-direction: column;

    .content:last-child{
        margin-top: 10px;
    }

    @include mq($PhoneWidth, max) {
        padding: 8px 16px;
    }
}

.content{
    border-radius: 8px;
}