@import "styles/index";

.root {
  max-height: calc(100vh - 150px);
  height: 100%;
  overflow-y: auto;
  padding: 0 16px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #fff;
  user-select: none;
  box-shadow: 2px 3px 30px rgba(0, 0, 0, .08);
  scrollbar-color: #bfbfbf transparent;
  scrollbar-width: thin;
  min-height: 400px;
  min-width: 320px;
  position: fixed;
  top: 90px !important;
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 16px;
  text-align: center;
  color: #8c8c8c;
  line-height: 22px;
  margin-top: 35px;
}

.img{
  img{
    position: static !important;
    height: 131px !important;
  }
}