@import "styles/index";


.root {
  padding: 20px 16px;
  background: #812292;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  display: flex;
  flex-direction: column;
  margin: 0 -24px;
  margin-bottom: -16px;
}

.choose {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F2F2F2;
    opacity: 0.76;
  }
}

.toPayment {
  padding: 7px 13px;
  background: #61D56E;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.bottom {
  margin-top: 16px;
}

.left {
  display: flex;
  flex-direction: column;

  .top {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000;
  }

  .bottom {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #414141;
    cursor: pointer;
    margin-top: 0;
  }
}

.right {
  display: flex;
  gap: 9px;
  align-items: center;

  .total {
    letter-spacing: -0.24px;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  }
}

.middle {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chevron {
  transform: rotate(180deg);
}

.cash{
  transform: rotate(90deg);
}

.back{
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F2F2F2;
    opacity: 0.76;
  }
}