@import "styles/index";

$radius: 24px;

.root {
  position: relative;
  flex: 0 0 auto;
  padding: 0px 12px;
  margin-bottom: Clamp(32px, 10vw, 64px);

  @include mq($TabletWidth, max) {
    width: 100%;
  }
}

.body {
  background: $white;
  padding: 12px 24px;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
.bodyCenterWrap{
  display: flex;
  flex-direction: column;
  @include list(4px);
}
.bodySeparator{
  margin: 16px 0;
  @include borderDashed();

}
.name {
  font-size: 18px;
  font-weight: 600;
  color: $dark1;
}

.imgContainer {
  position: relative;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  padding-bottom: 58%;

  >img {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
}
