@import "styles/index";

$radius: 24px;
.root {
  position: relative;
  flex: 0 0 auto;
  width: 33.333333333333336%;
  display: inline-block;
  padding: 0px 12px;
  margin-bottom: 64px;
}

.body {
  background: $white;
  padding: 12px 24px;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: $dark1;
}

.imgContainer {
  position: relative;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  padding-bottom: 58%;

  > img {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
}
