@import "styles/index";

.footer {
  width: 100%;
  padding-top: 54px;
  padding-bottom: 62px;
  background-color: $basic-gray-1;
  margin-top: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-right: 88px;
  padding-left: 48px;

  @include mq($SmDesktopWidth, max){
    padding: 0 20px;
  }

  @include mq($TabletWidth, max) {
    flex-direction: column;
    gap: 16px;
  }
}

.left {
  width: 25%;

  display: flex;
  flex-direction: column;
  gap: 32px;

  @include mq($TabletWidth, max) {
    width: 100%;
    align-items: baseline;
  }
}

.logo {

  svg {
    max-width: 300px;
    max-height: 40px;
    width: 114px;
    height: 30px;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.0196802)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.035)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.07));
  }

  .social {
    @include mq($TabletWidth, min) {
      display: none;
    }
  }

  @include mq($TabletWidth, max) {
    display: flex;
    justify-content: space-around;
  }
}

.about {
  color: $basic-gray-4;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.04em;

  @include mq($TabletWidth, max) {
    display: none;
  }
}

.copyright {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  background: #F0F2F7;
  padding: 6px 0;
  display: flex;
  justify-content: center;
}

.center {
  display: flex;

  @include mq($TabletWidth, max) {
    width: 100%;
    margin: 0;
  }
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  padding: 0px 16px;
  align-self: flex-start;

  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
  }

  .item {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #828282;

    &:hover {
      color: #4F4F4F;
    }

  }
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.cities {
  display: flex;
  justify-content: center;
  min-height: 70px;
  border: 1px solid $basic-gray-2;
  border-top: none;
  border-bottom: none;
  padding: 0px 24px;

  @include mq($TabletWidth, max) {
    border-top: 1px solid $basic-gray-2;
    border-right: none;
    border-left: none;
    padding: 24px;
  }
}

.list {
  width: 80%;
  @include clearfix;
}

.city {
  height: 20px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: $basic-gray-3;
  opacity: 0.5;
  transition: 0.3s opacity linear;

  &:hover {
    opacity: 1;
  }

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: $white;
  padding: 1px 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  float: left;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include mq($TabletWidth, max) {
      align-items: center;
    }
  }

  @include mq($TabletWidth, max) {
    width: 100%;
    align-items: center;
    gap: 16px;

    .apps {
      flex-direction: row;
    }
  }
}

.social {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 8px;

  .item {

    opacity: 1;
    transition: 0.3s opacity linear;

    &:hover {
      opacity: 0.5;
    }
  }

}

.apps {
  display: flex;

  a {
    opacity: 0.5;
    transition: 0.3s opacity linear;

    &:hover {
      opacity: 1;
    }
  }

  a:first-child {
    margin-right: 20px;
  }

  @include mq($MdDesktopWidth, max) {
    flex-direction: column-reverse;
  }
}

.contacts {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}

.address {
  display: flex;
  gap: 9px;

  .text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #6C6C6C;
  }
}