@import "styles/index";

.modalLayout {
  background: radial-gradient(58.8% 88.2% at 50% 50%, #B648D7 0%, #882CB6 44.74%, #4A078A 100%);
  width: 100vw;
  border-radius: 0;
  height: 100vh;
  margin-top: 0;

}

.footer {
  padding: 0;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;

  img{
    display: block;
  }
}

.root {
  position: relative;
  z-index: 2;
  padding-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:after {
    content: '';
    display: block;
    width: 36px;
  }
}

.title {
  font-size: 16px;
  color: $white;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin:  0 auto;
}

.propductsWrapper {
  margin-top: 10px;
  width: 100%;
}

.orderStatus {
  width: 100% ;
  height: 60px ;
  margin-top: 30px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 20px;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.persons {
  display: flex;
  border-radius: 16px;
  background-color: $white;
  align-items: center;
  width: 100%;
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 2px;
}

.personsImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #dff692;
  margin-right: 10px;
}

.personsCounter {
  margin-left: auto;
}

.check {
  background-color: $white;
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  margin-top: 10px;
}

.checkDesc{
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: $grey2;
  font-size: 14px;
}

.total {
  padding-top: 10px;
  border-top: 1px dotted $grey4;
}

.checkTitle {
  padding-bottom: 10px;
  border-bottom: 1px dotted $grey4;
  font-weight: 500;
  font-size: 14px;
}

.checkBody {
  padding: 5px 0px;
}

.button {
  width: 100%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 10px;
  border: 1px white solid;
  color: $white;
  button {
    font-weight: 600;
  }

}

.buttonsWrapper {
  margin-top: 10px;
  width: 100%;
}

.commonButton {
  width: 100%;
  border-radius: 16px;
  border: 1px white solid;
  color: $white;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;

}

.cancelButton, .payButton {
  @extend .commonButton;
  padding: 10px 15px 8px;
}

.complaintButton {
  @extend .commonButton;
  padding: 14px 15px;
}

.feedbackButton {
  @extend .commonButton;
  padding: 14px 15px;
  background-color: $green;
  border: unset;
  color: $black;
}

// .cancelButton, .paymentButton {
//   border-radius: 16px;

// }



