@import 'styles/index';



.section {

  .wrapper {
    display: flex;
    max-width: 1306px;
    width: calc(100% - 84px);
    margin-inline: auto;
    margin-block: 126px 0px;
    column-gap: 5%;
    align-items: center;
  }
  .imageWrapper {
    width: min(47%, 582px);
    height: 456px;
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
    }

    .i1 {
      top: 50%;
      left: 14%;
      rotate: -10deg;
      transform: translateY(-50%);
      border-radius: 24px;
      box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.397);
    }

    .i2 {
      top: 50%;
      right: 14%;
      rotate: 10deg;
      transform: translateY(-50%);
      border-radius: 24px;
      box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.397);
    }

    .match {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .image {
    height: auto;
    width: 120%;
  }

  .title {
    font-weight: 700;
    font-size: 48px;
    color: $grey1;
    span {
      color: $pink;
    }
  }

  .description {
    font-weight: 500;
    font-size: 18px;
    color: $grey2Alt;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;    
  }
}
