@import "styles/index";

.product {
  display: grid;
  grid-template-areas: 'i n p' 'i c p';
  grid-template-columns: auto auto 1fr;
  justify-content: start;
  align-items: center;
  border-radius: 16px;
  padding-block: 0px;
  max-height: 0px;
  transition: .3s ease-in-out;
  overflow: hidden;
  color: $grey2;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
  
  &_active {
    animation: open .3s forwards;
  }
  
  @include mq($PhoneWidth, max) {
    background-color: $white;
    grid-template-areas: 'i n c' 'i p c';
    color: $black;
    padding: 16px;
    row-gap: 10px;
  }
}

@keyframes open {
  100% {
    max-height: 200px;
  }
}


.name {
  width: 60%;
}

.image {
  height: 100%;
  object-fit: cover;
  @include mq($PhoneWidth, max) {
    width: 100%;
  }
}

.imageWrapper {
  grid-area: i;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 16px;
  @include mq($PhoneWidth, max) {
    width: 56px;
    height: 56px;
  }
}

.price {
  grid-area: p;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  margin-left: auto;
  @include mq($PhoneWidth, max) {
    margin-left: unset;
  }
}

.counter {
  grid-area: c;
  @include mq ($PhoneWidth, max) {
    justify-self: end;
  }
  // margin-left: auto;
}

.separator {
  display: none;
  margin: 0px 6px 3px;
  @include mq($PhoneWidth, max) {
    display: block;
  }
}

.weight {
  display: none;
  @include mq($PhoneWidth, max) {
    display: block;
    color: $grey2;
  }
}