@import 'styles/index';



.section {
  margin-top: 128px;
  background-color: $green;
  position: relative;
  overflow: hidden;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  .step {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 30%;
    align-items: center;
    width: 204px;
  }

  .arrowPicture {
    align-self: flex-start;
    margin-top: 86px;
    max-width: 15%;
    flex-shrink: 0;
  }

  .arrow {
    width: 100%
    // margin-top: 86px;
    // width: 15%;
  }

  .stepImageWrapper {
    width: 204px;
    height: 204px;
    border-radius: 50%;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stepDescription {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    min-width: 429px;
    @media screen and (max-width: 1600px) {
      &_1 {
        min-width: 232px;
      }  


      &_2 {
        min-width: 212px;
      }

      &_2alt {
        min-width: unset;
        width: 292px;
      }

      &_3 {
        min-width: 306px;    
      }
    }
  }


  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1366px;
    margin-inline: auto;
    margin-block: 94px 74px;
    row-gap: 80px;
    align-items: center;
    position: relative;
    z-index: 1;
    width: calc(100% - 84px);

  }

  .bottom {
    padding: 45px 60px;
    display: flex;
    align-items: center;
    column-gap: 117px;
    justify-content: space-between;
    border-radius: 64px;
    width: 100%;
    background-color: $black;
  }

  .bottomDescription {
    font-weight: 700;
    font-size: 24px;
    color: $white;
  }

  .button {
    border-radius: 16px;
    padding: 20px 60px;
    background: $pink;
    display: block;
    height: 60px;
    color: $white;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s ease-in-out;
    @include hover {
      background-color: $green;
    }
  }



  .content {
    display: flex;
    align-items: flex-start;
    column-gap: clamp(24px, 3vw, 32px);    
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 1500px) {
      padding-inline: 55px;
    }
    

  }

  .title {
    font-weight: 700;
    font-size: 48px;
    color: $black;
    span {
      color: $pink;
    }
  }
}