@import "styles/index";

.root{
  padding-bottom: 120px;
}
.list{
  margin-top: 26px;
  > * + * {
    margin-top: 16px;
  }
}
.title{
  font-weight: 600;
  font-size: 16px;
  color: $dark1;
  padding-left: 16px;
}
