@import "styles/index";
.root{
  position: relative;
  width: 100%;
  :global .swiper{
    padding-bottom: 40px;
  }
  @include swiperPagination();
  @include mq($LPhoneWidth, max) {
    width: calc(100% - 24px);
  } 
}
.slide{
  width: Clamp(260px, calc(100vw - 48px), 380px) !important;
  max-width: 100%;
}
.arrow{
  position: absolute;
  top: 50%;
  margin-top: -20px;
  &.prev{
    left: -12px;
    transform: translate(-100%, -50%);
  }
  &.next{
    right: -12px;
    transform: translate(100%, -50%);
  }
}

