@import "styles/index";

.root{
  display: flex;
  min-height: 100%;
  position:relative;
  flex-direction: column;
  background-color: #f9f9f9;
}

.content{
  background-color: $basic-gray-6;
  min-height: calc(100vh - 280px);
}

.container{
  @include container;
}
