@import "styles/index";

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modalLayout {
  // padding: 16px 16px 82px 16px;
  max-height: unset;
  width: 592px;
  padding: 16px 16px 16px 16px;
  height: 100%;

  @include mq($PhoneWidth, max) {
    padding-bottom: 150px;
  }
}

.top{
  display: flex;
  flex-direction: column;
  align-items: center;
   height: calc(100% - 90px);
  overflow: auto;
  @include mq($PhoneWidth, max) {
    padding-bottom: 160px;
  }
}
.imgContainer{
  width: 50%;
  @include mq($PhoneWidth, max) {
    width: 100%;
  }
  img{
    max-width: 100%;
    display: block;
    border-radius: 12px;
  }
}
.name{
  font-size: Clamp(16px, 3vw, 20px);
  font-weight: 600;
  @include mq($PhoneWidth, max) {
    color: $white;
  }
}
.description{
  margin-top: 10px;

}
.info{
  padding-left: 15px;
  // width: 50%;
  width: 100%;
  margin-top: 24px;
}

.imageSmall {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 50%;

}

.productData {
  display: flex;
  // width: 100%;
  // margin-bottom: 12px;
  align-items: center;
  @include mq($TabletWidth, max) {
    margin-bottom: 16px;
  }
}

.btn {
  border-radius: 16px;
  height: 40px;
  text-transform: unset;
  font-size: 14px;
  width: 38%;
  max-width: 182px;
  @include mq($PhoneWidth, max) {
    width: 65%;
    max-width: unset;
    padding: 6px;
    height: 48px;
  }
}

.btnSvg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}



.toolbar{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 16px Clamp(16px, 4vw, 32px);
  background: #812392;
  border-radius: 24px;
  @include mq($PhoneWidth, max) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: unset;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding-bottom: Clamp(24px, 6vw, 38px);
  }


  .price{
    color: $white;
    font-size: Clamp(16px, 3vw, 24px);
    font-weight: 500;
    @include noSelectable;
    @include mq($PhoneWidth, max) {
      width: 100%;
      font-weight: 600;
    }

  }
}

.quantityRoot {
  background-color: white;
  width: 38%;
  max-width: 188px;
  @include mq($PhoneWidth, max) {
    padding: 6px;
    width: 30%;
    height: 48px !important;
  }
}


.modificationsWrapper {
  // max-height: 27vh;
  min-height: 125px;
  // overflow-y: scroll;
  padding: 20px 0px;
  border-top: 2px $grey3 dotted;
  margin-top: 24px;
  margin-inline: 16px;
}