@import "styles/index";


.root{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 796px;
  padding: 25px;
  background: $white;
  border-radius: $borderRadiusModal;
  @media (max-width: $xs-max) {
    width: 90vw;
    border-radius: 30px;
  }
}
.wrapper{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-align: center;
  &.bottomSheet{
    width: 100%;
    padding: 20px 16px;
  }
}
.buttons{
  display: flex;
  flex-direction: row;
  > * + * { margin-left: 20px}
}

