@import "styles/index";

.root {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

.head,
.desc {
  border-radius: 8px;
}

.head{
  margin-bottom: 6px;
  @include mq($MPhoneWidth, max) {
    width: 150px !important;
  }
}

.desc {
  margin-top: 16px;
  @include mq($MPhoneWidth, max) {
    width: 100px !important;
  }
}