@import "styles/index";
@import 'swiper/scss/effect-creative';
.root{
 :global .swiper{
    padding-bottom: 40px;
    overflow: visible;
    width: Clamp(200px, 100vw - 62px, 380px);
    @include mq($PhoneWidth, max) {
     padding-bottom: 0 !important;
     padding-top: Clamp(9px, 3vw, 30px);
    }
    //  height: 400px;

  }
  @include swiperPagination();
}
.slide{
  // width: Clamp(200px, 100vw - 62px, 380px) !important;
  overflow: unset !important;
}
.arrow{
  position: absolute;
  top: 50%;
  margin-top: -20px;
  &.prev{
    left: -12px;
    transform: translate(-100%, -50%);
  }
  &.next{
    right: -12px;
    transform: translate(100%, -50%);
  }
}

