@import 'styles/index';

.section {
  margin-top: clamp(42px, 13vh, 126px);


  .wrapper {
    display: flex;
    max-width: 1306px;
    margin-inline: auto;
    padding-block: 80px;
    column-gap: 16px;
    align-items: center;
    background: radial-gradient(circle, #B347D5 0%, #4D098C 100%);
    border-radius: 64px;
    position: relative;
    width: calc(100% - 84px);
    @include mq($TabletWidth, max) {
      justify-content: center;
      width: 100%;
      padding-inline: 16px;
      border-radius: unset;  
      flex-wrap: wrap;
      padding-block: 54px 0px;
    }
    
  }

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 582px;
    height: 484px;
  }

  .button {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: $black;
    background-color: $green;
    border-radius: 16px;
    padding: 20px 73px;
    align-self: flex-start;
    white-space: nowrap;
    @include mq($TabletWidth, max)  {
      align-self: center;
      width: 100%;
      max-width: 360px;
    }
  }


  .description {
    font-weight: 500;
    font-size: 18px;
    color: $purpleLight;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;    
    padding-left: clamp(80px, 7vw, 105px);
    width: 60%;
    @media screen and (max-width: 1200px) {
      width: 50%;
    }
    @include mq($TabletWidth, max) {
      width: 100%;
      padding: unset;
    }
   }

  .girlImage {
    position: absolute;
    bottom: 0;
    right: 42px;
    width: 40%;
    height: auto;
    object-fit: contain;
    @media screen and (max-width: 1200px) {
      right: 8px;
      width: 415px;      
    }
    @include mq ($TabletWidth, max) {
      position: static;
    }
  }

  .title {
    font-weight: 700;
    font-size: clamp(24px, 3.4vw, 48px);
    color: $purpleLight;
    position: relative;
    max-width: 586px;
    @media screen and (max-width: 1200px) {
      font-size: 30px;
    }
    @include mq($TabletWidth, max) {
      text-align: center;
    }

    &:before {
      content: '';
      position: absolute;
      width: clamp(100px, 32vw, 460px);
      bottom: 0px;
      left: 0;
      height: 20px;
      background-color: $black;
      @media screen and (max-width: 1200px) {
        width: 230px;
        bottom: -4px;
      }
      @include mq($TabletWidth, max) {
        width: 292px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    span {
      color: $white;
      position: relative;
      z-index: 1;

    }
  }

  .subTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $purpleLight;
    max-width: 640px;
    @include mq($TabletWidth, max) {
      text-align: center;
    }
  }

  .tags {
    display: flex;
    column-gap: 16px;
    row-gap: 16px;
    flex-wrap: wrap;

    .tag {
      background-color: $pink;
      padding: 10px 16px 8px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      column-gap: 8px;
      font-weight: 500;
      font-size: 14px;
      color: $white;

      &_grey {
        background-color: $grey2;
      }
    }

    .badge {
      padding: 4px 6px 2px;
      background-color: $black;
      color: $white;
      text-transform: uppercase;
      border-radius: 40px;
      font-weight: 800;
      font-size: 12px;
    }
  }

  .links {
    display: flex;
    column-gap: 16px;
  }
}