@import "styles/index";

.root{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  flex-direction: row;
  margin-top: 32px;

  @include mq($TabletWidth, max) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}


.card{
  height: calc(((((100vw - 80px - 216px + 36px) / 3) - 36px) * 0.59) + 56px);
  max-height: 333px;
  min-height: 254px;
  width: 33%;

  @include mq($TabletWidth, max) {
    width: 100%;
  }
}
