@import "styles/index";


.searchHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px ;
    background-color: transparent;
    transition: .2s linear;
    margin: 22px 12px;
    border-radius: 16px;
    max-width: 600px;

    &_active {
        padding: 10px 12px;
        background-color: $purple;

        .exit {
            color: $white;
        }
    }
}


.inputWrapper {
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 12px;
    border-radius: 16px;
    width: 80%;
}

.input {
    margin-left: 12px;
    padding-top: 4px;
    caret-color: $purple;
    width: 80%;
    
}

.svgLoupe {
    width: 14px;
    display: block;
}

.searchSvgWrapper {
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
}

.crossSvg {
    width: 10px;
    height: 10px;
    display: block;
}

.crossSvgWrapper {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    rotate: 0deg;
    transition: .3s ease-in-out;
    @media (hover: hover) {
        &:hover {
            rotate: -90deg;
        }
    }
}

.exit {
    font-size: 14px;
    font-weight: 500;
    color: $grey1;
    transition: .2s linear;
    cursor: pointer;
    @media(hover: hover) {
        &:hover {
            color: black;
        }
    }

}