@import "styles/index";

@mixin list {
  position: static;
  width: 100%;
  display: flex;

  @include mq($DesktopWidth, max) {
    div {
      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 40px;
        margin-right: 0;

        &:hover {
          background: none;
        }
      }
    }
  }
}

.root {
  position: relative;
  background-color: $green-main-1;
  z-index: 2;
}

.container {
  @include container;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc($heightMenu - 5px);
  overflow: initial;
  padding: 0 24px;


  @include mq($TabletWidth, max) {
    min-height: calc($heightMobileMenu - 5px);
  }
}

.list {
  @include list;
}

.listMedium {
  @include list;

  @include mq($DesktopWidth, min) {
    display: none;
  }

  @include mq($MdDesktopWidth, max) {
    display: none;
  }
}

.listSmall {
  @include list;

  @include mq($MdDesktopWidth, min) {
    display: none;
  }

  @include mq($SmDesktopWidth, max) {
    display: none;
  }
}

.listExSmall {
  @include list;

  @include mq($SmDesktopWidth, min) {
    display: none;
  }

  @include mq($TabletWidth, max) {
    display: none;
  }
}

.listTablet {
  @include list;

  @include mq($TabletWidth, min) {
    display: none;
  }

  @include mq($PhoneWidth, max) {
    display: none;
  }
}

.item {
  flex-shrink: 0;
  padding: 0 16px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  max-width: max-content;
  display: flex;
  font-weight: normal;
  color: $white;
  @include afs(16px, 16px, 14px, 16px);
  overflow-x: auto;
  height: 40px;

  span {
    align-self: center;
    width: 100%;
  }

  &:hover {
    background: linear-gradient(0deg,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3));
  }

  &.active {
    background: $white;
    color: $basic-text-gray;
  }

  @include mq($SmDesktopWidth, max) {
    padding: 10px 20px;
  }

  @include mq($TabletWidth, max) {
    padding: 10px 15px;
  }
}

.content {
  display: flex;

  span {
    margin-right: 8px;
  }
}

.img {
  display: flex;
  align-items: center;

  img {
    width: 13px;
    height: 13px;
  }
}