@import "styles/index";

.root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    max-height: 135px;
    min-height: 135px;
    padding: 24px;
    transition: opacity .3s linear, box-shadow .3s linear;
    box-shadow: 3px 3px 23px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    justify-content: flex-start;

    @include mq($PhoneWidth, max) {
        min-height: 120px;
        max-height: 120px;
    }
}

.front {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    margin-bottom: 8px;
    padding: 4px 12px;
    max-width: max-content;
}

.desc {
    max-width: 75%;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    max-width: 120px;
}

.content{
    border-radius: 8px;
}