@import "styles/index";

.root {
  display: flex;
  align-items: center;
  justify-content: center;

}
.bg{
position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: radial-gradient(50% 50% at 50% 50%, #812292 0%, #7722AA 100%);

}
.center{

  display: flex;
  flex-direction: column;
  @include list(8px);
  flex-basis: 480px;
  padding: 32px 24px;
  z-index: 1;
}
.logoWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}
.logo{
  width: auto;
  height: 42px !important;
}

.btn{
  margin-top: 32px;
  background-color: #4BBE58;
  color: $white;
  font-size: 16px;
}

.success{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
