@import "styles/index";

.root {
  position: relative;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  @include mq($TabletWidth, max) {
    flex-wrap: wrap;
  }

  @include mq($PhoneWidth, max) {
    align-items: baseline;
    height: 100%;
    flex-direction: column
  }
}

.bg {
  @include posAbsoluteAll();
  top: #{-50 + -20 + -290}px;
  bottom: -40px;
  background: radial-gradient(circle at center, #B648D7, #882CB6, #4A078A);

  @include mq($PhoneWidth, max) {
    background: url('../../../../public/images/mobileBg/mobileBg.png');
  }
}

.circle {
  position: absolute;
  right: 15%;

  @include mq($PhoneWidth, max) {
    display: none;
  }
}

.container {
  display: flex;
  position: relative;
  z-index: 1;

  @include mq($PhoneWidth, max) {
    margin-top: 114px;
  }
}

.title {
  font-weight: 600;
  font-size: Clamp(30px, 9vw, 36px);
  line-height: 44px;
  color: $white;

  @include mq($PhoneWidth, max) {
    color: #4C4958;
  }
}

.choose {
  margin-top: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $white;

  @include mq($PhoneWidth, max) {
    display: none;
  }
}

.drop {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include list(16px, true)
}
.dropDown{
  flex-basis: 200px;
}

.sales_left {
  height: 100%;
  position: absolute;
  bottom: -30%;
  left: 0;

  @include mq($PhoneWidth, max) {
    display: none;
  }

  img {
    width: auto !important;
  }
}

.sales_right {
  height: 100%;
  position: absolute;
  bottom: -30%;
  right: 0;

  @include mq($PhoneWidth, max) {
    display: none;
  }

  img {
    width: auto !important;
    inset: unset !important;
    right: 0 !important;
  }
}

.left {
  width: 325px;
  @include mq($PhoneWidth, max) {
    display: none;
  }
}
.right{
  min-width: 0;
  flex: 1;
  width: Clamp(450px, 50vw,700px);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq($TabletWidth, max) {
    flex: unset;
  }

}
.mobile{
  @include mq($PhoneWidth, min) {
    display: none;
  }
}
