@import "styles/index";

.root {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.content {
    margin-right: 16px;

    @include mq($SmDesktopWidth, max) {
        margin-right: 0;
    }
}

.header {
    margin-top: 16px;
    background-color: #fff;
    padding: 24px 0;
    padding-bottom: 40px;
    position: relative;

    @include mq($TabletWidth, max) {
        padding: 16px 0;
        margin-top: 0;
    }

    .content {
        min-height: 150px;
        display: flex;

        @include mq($TabletWidth, max) {
            min-height: 100px;
        }
    }
}

.img {
    position: relative;
    min-width: 208px;
    max-width: 208px;

    img {
        min-width: 160px;
        max-width: 160px;
        height: 150px !important;
        border-radius: 12px;
        margin: 0 24px;
        width: inherit !important;
    }

    @include mq($TabletWidth, max) {
        min-width: 124px;
        max-width: 124px;

        img {
            margin-left: 0;
            min-width: 100px;
            max-width: 100px;
            height: 100px !important;
        }
    }
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .header {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: 0.03em;
        margin: 0;
        padding: 0;
        justify-content: space-between;

        @include mq($TabletWidth, max) {
            font-size: 24px;
            line-height: 22px;
        }
    }
}

.address {
    font-size: 20px;
    display: flex;
    align-items: center;

    @include mq($TabletWidth, max) {
        font-size: 14px;
    }

    @include mq($PhoneWidth, max) {
        display: none;
    }
}

.bottom {
    display: flex;
    flex-wrap: wrap;
}

.priceDelivery {
    display: flex;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid #f3f3f3;
    margin-right: 8px;
}

.category {
    position: relative;
}

.head {
    padding-top: 24px;
    margin-bottom: 8px;
    line-height: 28px;
    font-size: 24px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;

    @include mq($PhoneWidth, max) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
}

.card {
    &:hover {
        box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.2);
    }

    &:nth-of-type(-n+4) {
        margin-top: 0px;
    }

    &:nth-child(4n) {
        margin-right: 0px;
    }
}

.catalog {
    margin-bottom: 68px;
}

.sidebar {
    margin: 16px 0;
    min-width: 320px;
    min-height: 400px;
    position: relative;
    @include mq($SmDesktopWidth, max) {
        display: none;
    }
}

.title {
    color: #595959;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.text {
    font-size: 12px;
    color: #8c8c8c;
    line-height: 16px;
    margin-top: 8px;
}

.popover {
    position: absolute;
    right: 0;
    top: 0;
}