@import "styles/index";
$fieldHeightDefault: 50px;
$fieldHeightDefaultExSmall: 38px;

.root {}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;

  &.default {
    left: 17px;
  }
}

.input {
  order: 2;
  color: $dark1;
  width: 100%;

  &.success {
    border-color: $green;
    color: $grey1;
  }

  &.default {
    font-weight: 400;
    height: $fieldHeightDefault;
    border: 1px solid grey;
    background: #fff;
    border-radius: 10px;
    //padding: 18px 15px 0 15px;
    padding: 0 15px;
    font-size: 16px;
    transition: background-color 0.2s;

    &:focus {
      font-size: 16px;
    }

    &::placeholder {
      color: #fff;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: grey !important;
      -webkit-background-clip: text;
    }

    &.success {
      -webkit-text-fill-color: $green !important;
    }
  }

  &.defaultSmall {

    font-weight: 400;
    height: 50px;
    border: 1px solid $grey1;
    background: #fff;
    border-radius: 10px;
    padding: 0px 8px 0 8px;
    font-size: 14px;
    transition: background-color 0.2s;

    &:focus {
      font-size: 14px;
    }

    &::placeholder {
      color: grey;
    }

    &.hover {
      background: grey;
    }
  }

  &.defaultExSmall {

    font-weight: 400;
    height: $fieldHeightDefaultExSmall;
    border: 1px solid grey;
    background: #fff;
    border-radius: 10px;
    padding: 0px 8px 0 8px;
    font-size: 14px;
    transition: background-color 0.2s;

    &:focus {
      font-size: 14px;
    }

    &::placeholder {
      color: grey;
    }

    &.hover {
      background: grey;
    }
  }

  &.error {
    border-color: $red !important;
    color: $red !important;

    &::placeholder {
      color: $red !important;
    }
  }

  &.withIcon {
    padding-left: 50px;
  }

  &.white {
    background: $white;
    color: $white;
  }

  &.purple {
    border: none;
    background: $purple4;
    color: $white;
  }

  &.darkPurple {
    border: none;
    background: #5F096F;
    color: $white;
  }

  &.profile {
    border-radius: 23px;
    height: 44px;
    color: #333333;
    padding: 0 15px;
  }

  &.cashForm {
    border-radius: 16px;
    height: 46px;
    color: $white;
    text-align: center;
    &::placeholder{
      color: $white;
    }
  }

  &.subscribe {
    width: 254px;
    height: 40px;
    border: 1px solid #61D56E;
    border-radius: 24px;
    padding: 0 12px;
    color: #000;

    &::placeholder {
      color: #6C6C6C;
    }
  }

  &.promo {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.0196802), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0282725), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.035), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.0417275), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0503198), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    height: 35px;
    color: #000;
    padding: 10px 52px;

    &::placeholder {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #4C4958;
    }
  }
}

.successIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.failIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.suffix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
