@import "styles/index";

$radius: 24px;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: $radius;
  background: $white;
  -webkit-box-flex: 0;
  &.inBasket{
    .bodyContainer{
      background: $purple;
      .name {
        color: $white;
      }
      .price {
        color: $white;
      }
    }
  }
}
.bodyContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 12px;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
.body {
  padding: 12px 0px;

}

.spacer {
  flex: 1;
}

.bodyCenterWrap {
  >*+* {
    margin-top: 4px;
  }
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: $dark1;
}

.price {
  font-size: 16px;
  font-weight: 500;
  color: $dark2;
  margin-top: 8px;
  @include mq($PhoneWidth, max) {
    display: inline-block;
    margin-right: 20px;
  }
}

.weight {
  display: inline-block;
  color: $grey1;
  font-size: 14px;
}

.imgContainer {
  position: relative;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  width: 100%;
  height: 0px;
  padding-bottom: 80%;
  >img {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: absolute;
    pointer-events: none;
  }
}

.btnContainer {
  padding: 0px 24px 12px 24px;
  @include mq($PhoneWidth, max) {
    padding: 0;
    padding-bottom: 12px;
  }
}

.btn {
  margin-top: 16px;

}
