@import 'styles/index';



.section {

  .wrapper {
    display: flex;
    max-width: 1306px;
    margin-inline: auto;
    margin-block: clamp(42px, 13vh, 126px) 0px;
    column-gap: 16px;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 84px);
    @include mq($TabletWidth, max) {
      flex-direction: column;
      width: 100%;
      padding-inline: 16px;
      row-gap: 42px;
    }

  }

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 582px;
    height: 484px;
  }


  .description {
    font-weight: 500;
    font-size: 18px;
    color: $purpleLight;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;   
    max-width: 100%;
  }

  .title {
    font-weight: 700;
    font-size: clamp(30px, 6vw, 48px);
    color: $grey1;
    position: relative;
    @include mq($TabletWidth, max) {
      text-align: center;
    }
    span {
      color: $pink;
    }

    .arrow {
      position: absolute;
      top: 100%;
      left: 390px;      
      @media screen and (max-width: 1226px) {
        rotate: 250deg;
        right: unset;
        top: 69%;
        left: 260px;
        width: 120px;
        height: 68px;
      }
      @include mq($TabletWidth, max) {
        display: none;
      }
    }
  }

  .checkList {
    display: flex;
    flex-direction: column;
    row-gap: clamp(30px, 8vw, 36px);
    max-width: 424px;
    margin-top: 22px;
    @include mq($TabletWidth, max) {
      margin-top: unset;

    }

    .checkItem {
      display: flex;
      align-items: center;
      column-gap: 16px;
      font-weight: 600;
      font-size: 20px;
      color: $grey1;

    }

    .checkSvg {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .button {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: $black;
    background-color: $green;
    border-radius: 16px;
    height: 80px;
    padding: 30px 112px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    max-width: 100%;

    white-space: nowrap;
    @include mq($TabletWidth, max) {
      align-self: center;
    }
  }

  .price {
    font-weight: 700;
    font-size: 24px;
    color: $grey1;
    @include mq($TabletWidth, max) {
      text-align: center;
    }

    span{
      font-weight: 600;
      font-size: 20px;
    }
  }

  .subTitle {
    font-weight: 700;
    font-size: 24px;
    color: $grey1;
    margin-top: 12px;
    @include mq($TabletWidth, max) {
      text-align: center;
      margin-top: unset;
    }
    span {
      color: $pink;
    }
  }

  .card {
    border-radius: 66px;
    box-shadow: 0px 10px 23px 10px rgba(0, 0, 0, 0.336);
    max-width: 100%;
    height: auto;
  }
}