@import 'styles/index';

.section {

  .wrapper {
    display: flex;
    max-width: 1306px;
    margin-inline: auto;
    margin-block: 126px 0px;
    column-gap: clamp(44px, 5vw, 94px);
    align-items: center;
    background: radial-gradient(circle, #B347D5 0%, #4D098C 100%);
    border-radius: 64px;
    width: calc(100% - 84px);
    padding-left: clamp(80px, 7vw, 105px);
    overflow: hidden;
  }

  .image {
    width: clamp(393px, 30vw, 424px);
    height: auto;
    margin-top: clamp(55px, 7.5vw, 102px);
    margin-right: clamp(42px, 6.5vw, 92px);
  }

  .description {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $purpleLight;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 32px;    
  }

  .title {
    font-weight: 700;
    font-size: 48px;
    color: $white;
    span {
      color: $pink;
    }
  }

  .tags {
    display: flex;
    column-gap: 16px;
    row-gap: 16px;
    flex-wrap: wrap;

    .tag {
      background-color: $pink;
      padding: 10px 16px 8px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      column-gap: 8px;
      font-weight: 500;
      font-size: 14px;
      color: $white;

      &_grey {
        background-color: $grey2;
      }
    }

    .badge {
      padding: 4px 6px 2px;
      background-color: $black;
      color: $white;
      text-transform: uppercase;
      border-radius: 40px;
      font-weight: 800;
      font-size: 12px;
    }
  }

  .links {
    display: flex;
    column-gap: 16px;
  }
}