@import "styles/index";

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.value {
  padding: 0px 12px;
  color: $white;
  font-size: 13px;
}

.mobile {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .value {
    font-weight: 500;
    font-size: Clamp(12px, 3.7vw, 16px);
    line-height: 120%;
    color: #4C4958;
  }
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  // .value {
  //   @include mq($MPhoneWidth, max) {
  //     font-size: 12px;
  //   }
  // }
}

.sticky {
  .value {
    color: #C8B5FF !important;
  }
}

.stickyValue {
  color: #FFF !important;
}