@import "styles/index";

.root {
  padding: 19px;
  padding-top: 15px;
  background: #FFFFFF;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  max-height: 75px;

  @include mq($TabletWidth, max) {
    overflow-x: auto;
    background-color: transparent;
    gap: 16px;
    @include scroll_hide;
    border-radius: 0;
    padding: 0;
    margin-right: -24px;
  }
  @include mq($PhoneWidth, max) {
    padding: 12px 10px; 
  }
}

.item {
  padding: 10px 19px;
  background: #F3F3F3;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  letter-spacing: -0.24px;
  cursor: pointer;
  position: relative;
  display: flex;
  white-space: nowrap;

  @include mq($TabletWidth, max) {
    padding: 6px 19px;
    border-radius: 23px;
  }

  @include mq($PhoneWidth, max) {
    background-color: $white;
  }

  img {
    position: relative !important;
    height: auto !important;
    width: auto !important;
    margin-right: 5px;
  }

  span {
    color: #828282;
  }
}

.active {
  color: #fff;
  background: #812292;
}

.left,
.right {
  display: flex;
  gap: 16px; 
}

.right {
  @include mq($TabletWidth, max) {
    display: none;
  }
}

.full {
  display: flex;
  gap: 16px;

  @include mq($MdDesktopWidth, max) {
    display: none;
  }
}

.medium {
  display: flex;
  gap: 16px;

  @include mq($MdDesktopWidth, min) {
    display: none;
  }

  @include mq($SmDesktopWidth, max) {
    display: none;
  }
}

.smDesk {
  display: flex;
  gap: 16px;

  @include mq($SmDesktopWidth, min) {
    display: none;
  }

  @include mq($TabletWidth, max) {
    display: none;
  }
}

.tablet {
  display: flex;
  gap: 16px; 

  @include mq($TabletWidth, min) {
    display: none;
  }
}

.filterSvg {
  margin-right: 5px;
}

