@import "styles/index";


.root {
  @include dropDown();
  transform: translateY(100px);
  background: transparent;
  opacity: 0;
  visibility: hidden;
  display: flex;
  z-index: 300;
  right: 0px;
  left: auto !important;
  min-width: 357px;
  max-height: 500px;
  position: relative;
  flex-direction: column;
  background-color: #fff;

  cursor: default;

  &.fullWidth {
    right: 0px;
    left: auto !important;
  }

  &.opened {
    transform: translateY(56px);
  }
}

.list {
  background: #FFFFFF;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 100%;
  padding: 16px 24px;
  min-height: 200px;
  position: relative;
  overflow: auto;
  max-height: 500px;
}

.noMargin {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.empty {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.footer {
  top: auto !important;
  bottom: 0;
  width: 100% !important;
  position: fixed;
  right: 24px;
}

.promo {
  margin-bottom: 143px;
  padding: 0 24px;
}