@import "styles/index";

.root {
    padding-bottom: 75px;
}

.list {
    display: flex;
    flex-wrap: wrap;

    @include mq($MdDesktopWidth, min) {
        .card:nth-child(4n) {
            margin-right: 0;
        }
    }

    @include mq($MdDesktopWidth, max) {
        .card:nth-child(3n) {
            margin-right: 0;
        }
    }

    @include mq($SmDesktopWidth, max) {
        justify-content: space-between;
    }
}

.card {
    max-width: calc(25% - 12px);
    margin-bottom: 16px;
    margin-right: 16px;
    min-height: 240px;
    min-width: inherit;

    @include mq($MdDesktopWidth, max) {
        min-height: 250px;
        max-width: calc(33% - 8px);
    }

    @include mq($SmDesktopWidth, max) {
        max-width: calc(50% - 8px);
        margin-right: 0;
    }

    @include mq($PhoneWidth, max) {
        min-width: 100%;
        max-width: 100%;
        margin: 0;
        margin-bottom: 16px;
        min-height: 200px;
    }
}

.btn {
    border-radius: 6px;
}