@import 'styles/index';

.section {
  position: relative;
  margin-top: 128px;

  .qrcode {
    display: flex;
    padding: 18px;
    @include mq($TabletWidth, max) {
      justify-content: center;
      margin-top: 20px;
      width: 100%;
    }
  }

  .qrcodeWrapper {
    background: radial-gradient(circle, #B347D5 0%, #4D098C 100%);
    padding: 16px;
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 26px;
    border-radius: 16px;
    @include mq($TabletWidth, max) {
      margin-left: unset;
      width: 100%;
      padding: 22px;
      max-width: 390px;


      img {
        width: 125px;
        height: 125px;
      }

    }

  }

  .qrcodeText {
    font-weight: 700;
    font-size: 17px;
    color: $white;
    @include mq($TabletWidth, max) {
      font-size: 20px;
    }
  }

  .wrapper {
    display: flex;
    row-gap: 24px;
    max-width: 1306px;
    margin-inline: auto;
    column-gap: 16px;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: calc(100% - 84px);
    @include mq($TabletWidth, max) {
      width: 100%;
      padding-inline: 16px;
    }
  }

  .text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $grey2;
  }

}