@import "styles/index";

.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  @include container;

  @include mq($TabletWidth, max) {
    display: block;
  }

  @include mq($PhoneWidth, max) {
    margin-top: -138px;
    padding: 0px;
  }
}
.title{
  margin-top: 80px;
}
.aside {
  position: absolute;
  width: Clamp(180px, 15vw, 282px);
  flex-shrink: 0;
  margin-right: 60px;
  margin-bottom: 200px;

  @include mq($TabletWidth, max) {
    display: none;
  }
}

.content {
  padding-left: Min(302px, 25vw) ;
  width: 100%;
  @include mq($TabletWidth, max) {
    padding-left: 0;
  }
}

.banner {
  margin-top: 40px;
}

.mobileMenuActive {
  position: relative;
  
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50vh;
    bottom: 0;
    left: 0;
    background-color: $purple3;
    z-index: -1;
    transition: .3s linear;
  }
}

.stickyName {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 35px;
  font-size: 16px;
  font-weight: 600;
  z-index: 300;
  pointer-events: none;
}
