@import "styles/index";

.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 1500px;
  margin: 0 auto;

  @include mq($TabletWidth, max) {
    display: block;
  }

  @include mq($PhoneWidth, max) {
    margin-top: -138px;
  }
}

.aside {
  width: 282px;

  @include mq($TabletWidth, max) {
    display: none;
  }
}

.content {
  margin-left: 282px;

  @include mq($TabletWidth, max) {
    margin-left: 0;
  }
}

.banner {
  margin-top: 40px;
}