@import "styles/index";

.root{
  position: absolute;
  left: 0px;
  // top: 8px;
  top: 18px;  //VSMA-609
  @include inputLabel;
  &.withIcon{
    @include inputLabelWithIcon;
  }
  pointer-events: none;
  opacity: 0.75;
  order: 1;
  font-size: 12px; //VSMA-609
  color: white;
  transform-origin: left top;
  // transform: scale(1) translate3d(16px, 8px, 0); //VSMA-609
  transition: 200ms ease all;
  &.active{
    color: $grey2;
    opacity: 1;
    transform: scale(0.8) translate3d(16px, 0px, 0);
    display: none;//VSMA-609
  }
}
