@import "styles/index";

.modalLayout {
  background: radial-gradient(58.8% 88.2% at 50% 50%, #B648D7 0%, #882CB6 44.74%, #4A078A 100%);
  overflow: hidden;
  width: 90vw;
  max-width: 900px;
  height: 90vh;
  max-height: 600px;
  justify-content: center;

  @include mq($PhoneWidth, max) {
    background: $purple3;
    height: unset;
    border-radius: 16px;
  }

}


.circle {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 100%;
}


.modalBackground {
  object-fit: contain;
  pointer-events: none;
  z-index: 0;
  height: unset !important;
}

