@import "styles/index";

.root {
    padding: Clamp(8px, 2vw, 18px) Clamp(16px, 2vw, 30px);
    background: #812292;
    box-shadow: 0px -5px 24px rgba(0, 0, 0, 0.15);
    border-radius: 16px 16px 0px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    z-index: 20;
    top: auto !important;
    bottom: 0;
    justify-content: space-between;
    overflow-x: auto;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #C8B5FF;

    svg {
        fill: #C8B5FF;
    }

    .title {
        margin-top: 5px;
        letter-spacing: 0.16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        white-space: nowrap;
    }
}

.active {
    color: #fff;

    svg {
        fill: #fff;
    }
}

.none {
    display: none;
}