@import "styles/index";

.root {
  border-bottom: 1px solid $basic-gray-2;
  display: flex;
  min-height: $heightHeader;
  background-color: $white;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  @include container;
  min-height: $heightHeader;
}

.left {
  margin-right: 100px;

  @include mq($MdDesktopWidth, max) {
    margin-right: 50px;
  }

  @include mq($SmDesktopWidth, max) {
    margin-right: 0;
  }
}

.logo {
  display: block;
  cursor: pointer;

  svg {
    max-height: 40px;
    max-width: 300px;
  }
}

.center {
  position: relative;
  flex-grow: 1;
}

.address {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px 0 5px 10px;
  width: 400px;

  .icon {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 5px;
    margin-right: 8px;
    cursor: pointer;

    img {
      width: 14px;
      height: 16px;
    }
  }

  .text {
    @include afs(16px, 16px, 14px, 16px);
  }

  @include mq($SmDesktopWidth, max) {
    width: 100%;
    justify-content: center;
  }
}

.right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  @include mq($SmDesktopWidth, max) {
    flex-grow: 0;
  }
}

.search {
  width: max-content;
  margin-right: 30px;
  flex-grow: 1;
}

.menuOpen {
  display: flex;
  cursor: pointer;
  align-items: center;
}