@import "styles/index";

.root {
  display: flex;
  min-height: $heightHeader;
  flex-direction: column;
  z-index: 300;
  position: relative;
  @include container;

  padding-top: 20px !important;

  @include mq($PhoneWidth, max) {
    padding-top: 33px !important;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  min-height: $heightHeader;
  border-radius: 24px;
  background: $purple;
  padding: 0px 8px 0px 16px;
}

.shadow {
  border-radius: 24px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;

  &.shadow1 {
    box-shadow: 0px 100px 80px 0px #00000005;
  }

  &.shadow2 {
    box-shadow: 0px 41.777610778808594px 33.422088623046875px 0px #00000007;
  }

  &.shadow3 {
    box-shadow: 0px 22.3363094329834px 17.869047164916992px 0px #00000009;
  }

  &.shadow4 {
    box-shadow: 0px 12.521552085876465px 10.017241477966309px 0px #0000000B;
  }

  &.shadow5 {
    box-shadow: 0px 6.650102138519287px 5.32008171081543px 0px #0000000D;
  }

  &.shadow6 {
    box-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px #00000012;
  }
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.divider {
  margin: 0px 24px;
}

.logo {
  display: block;
  cursor: pointer;
}

.right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  z-index: 1;
  align-items: center;

  @include mq($SmDesktopWidth, max) {
    flex-grow: 0;
  }
}

.desktop {
  @include mq($PhoneWidth, max) {
    display: none;
  }
}

.phone {
  @include mq($PhoneWidth, min) {
    display: none;
  }

  .container {
    background-color: transparent;
    justify-content: space-between;
    padding: 8px;
  }

  .sticky {
    background-color: #812292;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.0196802), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0282725), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.035), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.0417275), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0503198), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.07);
    border-radius: 46px;
  }
}

.none {
  @include mq($PhoneWidth, max) {
    display: none;
  }
}