$white: #ffffff;

// Text Colors
$dark1: #4C4958;
$dark2: #333333 ;
$grey1: #6C6C6C;
$grey2: #828282;
$grey3: #AEAEAE;
$grey4: #CACACA;
$grey5: #F2F2F2;
$grey6: #F3F3F3;
// Base Purple
$purple: #812292;
$purple2: #781F88;
$purple3: #F0ECFB;
$purple4: #691C77;
$purpleLight: #e5c7fa;

// Base Green
$green: #61D56E;
$green2: #C6EFCB;
$green3: #B7D8BD;
$green4: #F4FFF6;

// Orange
$orange: #F58220;
$orange: #ED5F1C;
$orange2: #F2994A;
// Red
$red: #EB5757;

// Blue
$blue: #474EEB;
$blue1: #01C7F6;
$blue3: #98DCDB;

$pink: #f9238a;
$grey2Alt: #8e8a99;




