// breakepoints
$DesktopWidth: 1280px;
$MdDesktopWidth: 1200px;
$SmDesktopWidth: 992px;
$TabletWidth: 768px;
$PhoneWidth: 576px;
$MPhoneWidth: 375px;
$SmPhoneWidth: 320px;


// font-sizes
$fontOldMainSize: 14px;
$fontYoungMainSize: 18px;

// header
$heightHeader: 50px;
$heightMenu: 65px;
$heightMobileHeader: 60px;
$heightMobileMenu: 50px;
$heightMobileHeaderFull: $heightMobileHeader + $heightMobileMenu;

// footer
$heightFooter: 140px;
$heightDesktopFooter: 290px;
$heightMobileFooter: 190px;


// paddings
$DesktopContainerPadding: 80px;
$SmDesktopContainerPadding: 30px;
$MobileContainerPadding: 10px;


// Colors
$white: #FFFFFF;
$black: #000000;
$error: #f58220;
$main: #bfbfbf;
$basic-gray-1: #f3f3f3;
$basic-gray-2: #bfbfbf;
$basic-gray-3: #8c8c8c;
$basic-gray-4: #595959;
$basic-gray-5: #d9d9d9;
$basic-gray-6: #f9f9f9;
$black-text: #3E3E3E;
$disabled: #f5f5f5;
$disabled-text: #bfbfbf;
$basic-text-gray: #272727;
$basic-text-black: $black;
$green-main-1: #9ccb3b;
$purple-main-1: #6b4c9f;
$red-main-1: #e31e36;
$red-btn-default: #FF4D4F;
$red-btn-hover: #FF7875;
$red-btn-pressed: #CF1322;
$green-btn-hover: #BAD803;

/* Colors | Rating */
$rating-high: #069852;
$rating-middle: #9ccb3b;
$rating-low: $basic-gray-6;


//space
$space-modal: 28px;
$space-modal-mobile: 19px;


$xs-max: 768px;
$xs-max: 768px;
$md-min: 769px;
$md-medium: 1200px;
$md-max: 1600px;
$lg-min: 1601px;
$lg-medium: 1700px;
$lg-max: 2500px;
$xl-min: 2501px;


$borderRadiusModal: 32px;


$zIndexDropDown: 200;
