// breakepoints
$DesktopWidth: 1280px;
$MdDesktopWidth: 1200px;
$SmDesktopWidth: 992px;
$TabletWidth: 768px;
$PhoneWidth: 576px;
$LPhoneWidth: 428px;
$MPhoneWidth: 375px;
$SmPhoneWidth: 320px;


// font-sizes
$fontOldMainSize: 14px;
$fontYoungMainSize: 18px;

// header
$heightHeader: 56px;
$heightMenu: 65px;
$heightMobileHeader: 60px;
$heightMobileMenu: 50px;
$heightMobileHeaderFull: $heightMobileHeader + $heightMobileMenu;

// footer
$heightFooter: 140px;
$heightDesktopFooter: 290px;
$heightMobileFooter: 190px;


// paddings
$DesktopContainerPadding: 80px;
$SmDesktopContainerPadding: 30px;
$MobileContainerPadding: 10px;



// Colors NEW
$purple: #812392;
$purple2: #F0ECFB;

// Colors
$white: #FFFFFF;
$black: #000000;
$basic-gray-2: #bfbfbf;
$basic-gray-3: #8c8c8c;
$basic-gray-4: #595959;
$basic-gray-6: #f9f9f9;


//space
$space-modal: 28px;
$space-modal-mobile: 19px;


$xs-max: 768px;
$xs-max: 768px;
$md-min: 769px;
$md-medium: 1200px;
$md-max: 1600px;
$lg-min: 1601px;
$lg-medium: 1700px;
$lg-max: 2500px;
$xl-min: 2501px;


$borderRadiusModal: 32px;


$zIndexHeader: 260;
$zIndexDropDown: 271;
$zIndexTop: 300;
