@import "styles/index";

.root {
  position: relative;
  width: 100%;
}

.dropDown {
  position: absolute;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  a {
    padding: 17px 21px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #000;

    &:hover {
      background-color: #f3f3f3;
    }
  }
}

.dropDownActive {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  background: #fff;
  border-radius: 8px;
}

.dropDownTrigger {
  background: #F3F3F3;
  border-radius: 16px;
  height: 100%;
  padding: 10px 19px;
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  color: #000;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  margin: 0px;
  font-size: 13px;
}


.dropdownTriggerActive {
  position: relative;
  font-size: 13px;
  color: #000000;
  padding-bottom: 6px;
}

.option {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.label {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.24px;

  span {
    color: #000;
  }

  .delivery {
    color: #828282;
    margin-right: 8px;
  }
}

.arrow {
  display: flex;
  align-self: center;
  margin-left: 12px;
}