@import "styles/index";

.root {
  display: flex;
  flex-direction: column;
  width: 320px;
  border-radius: 32px;
  background: $purple;
  padding: 16px;
  z-index: 3;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  @include mq($PhoneWidth, max) {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    margin-top: -15px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    @include mq($PhoneWidth, max) {
      display: none;
    }
  }
}

.title {
  font-size: 14px;
  font-weight: 400;
  color: $white;
  margin-left: 10px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: $purple4;
  margin: 16px 0px;
}

.mainFields {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  >*+* {
    margin-top: 8px;
  }
}

.row {
  display: flex;
  flex-direction: row;

  .columns {
    flex: 1;
  }

  >*+* {
    margin-left: 8px;
  }
}

.body {
  flex: 1;
  overflow-y: auto;
}

.footer {
  display: flex;
  column-gap: 8px;
  @include mq($PhoneWidth, max) {
    margin-top: 24px;
    button{
      border-radius: 16px;
    }
  }
}

.trash {
  border-radius: 20px !important;
  border: 2px white solid !important;
  background-color: rgba(255, 255, 255, 0.192);
  width: 30px;
  transition: .3s linear;
  @media (hover : hover ){
    &:hover {
      background-color: rgba(255, 255, 255, 0.486);
    }
  }
  
  svg {
    flex-shrink: 0;
    path {
      fill: $white
    }
  }

  @include mq ($TabletWidth, max) {
    border-radius: 10px !important;
    padding:11px 25px !important;
    flex-shrink: 0;
  }
}

.button {
  border-radius: 20px !important;
  @include mq($TabletWidth, max) {
    border-radius: 10px !important;
    padding: 11px 35px;
  }
} 

.addressDetails {
  margin-top: 16px;
}

.address {
  .addressLabel {
    color: #E0E0E0;
    font-size: 12px;
  }

  .addressValue {
    margin-top: 8px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 150%;
  }
}

.addressDetails {
  >*+* {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.input {
  input {
    &::placeholder {
      font-size: 12px !important;
      text-align: center;
      // transform: translateY(-12px);
    }
  }
}

.textarea {
  padding: 15px 15px 0px !important;
}