@import "styles/index";

.modalLayout {
  position: relative;
  height: 80vh;
  max-height: 80vh;
  width: 428px;
  min-width: 310px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  // right: $DesktopContainerPadding;
  &.bottomSheet{
    width: 100%;
  }
  overflow: hidden;
  // margin-top: 50px;

  @include mq($PhoneWidth, max) {
    width: 100vw;
    border-radius: 0;
    background: url('../../../public/images/BasketModal/bg.png');
    margin-top: 0;
    height: 100vh;
    background-size: cover;
  }
}

.head {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.content {
  margin-top: 32px;
}

.title {
  font-weight: 600;
  font-size: Clamp(16px, 4.5vw, 23px);
  line-height: 120%;
  color: #4C4958;
  @include mq($PhoneWidth, max) {
    color: $white;
  }
}

.list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  width: 100%;
  padding: 16px 0;
  min-height: 200px;
  position: relative;
  height: 100%;
  overflow: auto;
  max-height: calc(100vh - 30%);
}

.bodyWrapper {

  @include mq($PhoneWidth, max) {
    // padding: 0 24px;
    padding: 0px;
  }
}

.close {
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.0196802), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0282725), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.035), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.0417275), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0503198), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.07);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  cursor: pointer;
  top: 21px;
  left: 19px;

  img {
    width: 25% !important;
    position: relative !important;
  }
}

.address {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 24px;

  .ofDeliver {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
  }

  .current {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    @include borderDashed();
    padding-bottom: 8px;

    div {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #4C4958;
    }
  }

  .toDelivery {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;

    .text {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #828282;
    }

    .time {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #4C4958;
    }
  }
}

.footer {
  padding: 0px !important;
  padding-top: 20px !important;
  display: flex;
  justify-content: space-between;
  @include mq($PhoneWidth, max) {
    flex-direction: row-reverse;
  }
}

.footerButton {
  width: 49%;
  height: Clamp(40px, 10vw, 50px);
  padding-top: 5%;
  @include mq($PhoneWidth, max) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: $white;
    color: $purple2;
  }
}

.promo{
  padding: 0;
  margin-bottom: 0;
}


.radioWrapper {
  @include mq($PhoneWidth, max) {
    display: flex !important;
    flex-wrap: wrap;  
  }
}

.radioItem {
  @include mq($PhoneWidth, max) {
    margin-right: 12px;
    width: 40px;
    height: 40px;
    justify-content: center;
    background-color: $purple4;
    border-radius: 50%;

  }
}

.radioLabel {
  color: black !important;
  @include mq($PhoneWidth, max) {
    margin-left: unset !important;
    color: $white;
  }
}

.radioCircle {
  @include mq($PhoneWidth, max) {
    display: none !important;
  }
 }

.radioItemActive {
  @include mq($PhoneWidth, max) {
    background-color: $white;
    
    .radioLabel {
      color: $purple2;
    }
  }
}

.checkboxItem {
  @include mq($PhoneWidth, max) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    background-color: $purple4;
    height: 40px;
    border-radius: 30px;
  }
}


.checkboxWrapper {
  @include mq($PhoneWidth, max) {
    display: flex !important;
    flex-wrap: wrap;
  }
}

.checkboxActive {
  @include mq($PhoneWidth, max) {
    background-color: $white;
    
    .radioLabel {
      color: $purple2;
    }
  }
}


.third {
  width: 32%;
}

.sheetFooter {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 2px $purple2 solid;
}




